p{
    
    border-width: 5px;
    border-left: 8px;
    border-right: 8px;
    border-radius: 10px;

    
    
}

    p{
        
        border-style: dotted;
        border-width: 5px 8px ;
        border-width: 6px 5px 8px ;
        border-width: 2px 4px 6px 8px;
        border-color: red blue green yellow ;
        border-style: dashed dotted ridge groove;
        border-left: 5px ridge pink;
        margin : 30px 40px 15px;
        padding: 50px 30px 50px;
        height: 30px;
        width: 50px;
        max-width: 100;
        width: 50px;
        border: 12px solid  pink;
        margin: 100px;
        padding: 60px;



    }
    
        


    
