p{
    text-align: center;
    color: blueviolet;
    background-color:burlywood;
    border-radius: 2px;
    border-style: groove;
    border-color:white;
    border-width: 5px;
    margin: 20px 15px 10px 25px;
    padding: 100px 150px 100px 150px ;
    height: 70px;
    width: 70px;
    text-transform: capitalize;
    letter-spacing: 2px;
    
    

}