span.a{
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: palevioletred;
}
span.b{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: maroon;
}
span.c{
display: inline-block;
width: 100px;
height: 100px;
padding: 5px;
border: 1px solid black;
background-color: palevioletred;

}
.nav{
    background-color: aquamarine;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav li {
    display:inline-block;
    font-size: 20px;
    padding: 20px;
}

