p{
    color: blueviolet;
    text-align: center;
    text-decoration-line:underline;
    text-decoration-color: blue;
    text-decoration-style:dotted ;
    text-transform: capitalize;
    text-shadow: ;
    background-color: pink;
    text-transform: capitalize;
    letter-spacing: 1px;
    

    

}