*{
    padding: 0px;
    margin: 0px;
}
nav{

    background-image: linear-gradient(pink,purple);
    width: 100vw;
    height: 12vh;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding:0,90px ;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0,5px;
}
nav ul li a{
    color: white;
    font-size:17px;
    text-decoration-line: none;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
}
a:hover{
    background-color: lightgray;
}
.gallary-content img{
    height: 400px;
    width: 450px;
    float: right;
    border-radius: 2px;
    margin-left: 400px;
    margin-right: 20px;
    margin-top: 20px;
    
    
}
h1{
 text-transform: capitalize;
 margin-top: 30px;
 margin-left: 20px;
}
main{
    height: 88vh;
    display: flex;

}
main>.left-content{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
main>.left-content>h1 {
    font-size: 5rem;
    color: black;

}
main>.left-content>p{
    font-size: 1.2rem;
}
main>.left-content>.btn-container{
    display: flex;
    justify-content: space-between;
}
main>.left-content>.btn-container>button{
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 100ms transform;
    
}
main>.left-content>.btn-container>button:hover{
    transform: scale(1.05,1.05) ;
}
.btn-primary{
    background-image: linear-gradient(pink,purple);
}
.btn-secondary{
    background-image: linear-gradient(grey,purple);
}


